<header class="jumbotron jumbotron-bg">
  <!-- <div id="wrapper">
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <img ng-repeat="slide in slides" ng-src="{{slide}}" data-thumb="{{slide}}">
            </div>
        </div>

  </div> -->
  <div class="container slider">
    <img ng-repeat="slide in slides" class="slide slide-animation" ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide}}">

    <a class="arrow prev" href="#" ng-click="nextSlide()"></a>
    <a class="arrow next" href="#" ng-click="prevSlide()"></a>

    <nav class="navSlide">
        <div class="wrapper">
            <ul class="dots">
                <li class="dot" ng-repeat="slide in slides">
                    <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
                      ng-click="setCurrentSlideIndex($index);">h<!-- {{slide.description}} --></a></li>
            </ul>
        </div>
    </nav>
  </div>
  <div class="container" >
    <h1>Minority Engineering Graduate Association</h1>
    <p>
      Empowering the Environment.
    </p>
    
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4" style="text-align:center;">
      <img id="logo" src="assets/img/megalogo.png">
    </div>
    <div class="col-lg-4">
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-lg-4 col-sm-4 col-md-4 section">
      <ul>
        <h2>{{mission.title}}</h2>
        <li>
          <p class="fulljusttify">{{mission.story}}</p>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 col-sm-4 col-md-4 section">
      <ul>
        <h2>Benefits</h2>
        <li>
          <p><b><i>MEGA</i></b> provides an opportunity to interact with other Minority Groups like: 
            <ul>
              <li ng-repeat="society in societies">
                <a href="{{society.link}}">{{society.name}}</a>
              </li>
              <li>... And many more!!</li>
            </ul>
          </p>
        </li>
        <p ng-repeat="benefit in benefits">
          {{benefit}}
        </p>
      </ul>
    </div>
    <div class="col-lg-4 col-sm-4 col-md-4 section">
      <ul>
        <h2>The last one</h2>
        <li>
          <p>
            And a bullet point
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>


