<header class="jumbotron jumbotron-bg">
  <div id="wrapper">
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <img src="assets/img/toystory.jpg" data-thumb="assets/img/toystory.jpg" alt="" />
                <a href="http://dev7studios.com"><img src="assets/img/up.jpg" data-thumb="assets/img/up.jpg" alt="" title="This is an example of a caption" /></a>
                <img src="assets/img/walle.jpg" data-thumb="assets/img/walle.jpg" alt="" data-transition="slideInLeft" />
                <img src="assets/img/nemo.jpg" data-thumb="assets/img/nemo.jpg" alt="" title="#htmlcaption" />
            </div>
            <div id="htmlcaption" class="nivo-html-caption">
                <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>. 
            </div>
        </div>

    </div>
  <div class="container" >
    <h1>Minority Engineering Graduate Association</h1>
    <p>
      Empowering the Environment.
    </p>
    
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4" style="text-align:center;">
      <img id="logo" src="assets/img/megalogo.png">
    </div>
    <div class="col-lg-4">
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-lg-4 col-sm-4 col-md-4 section">
      <ul>
        <h2>{{mission.title}}</h2>
        <li>
          <p class="fulljusttify">{{mission.story}}</p>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 col-sm-4 col-md-4 section">
      <ul>
        <h2>Benefits</h2>
        <li>
          <p><b><i>MEGA</i></b> provides an opportunity to interact with other Minority Groups like: 
            <ul>
              <li ng-repeat="society in societies">
                <a href="{{society.link}}">{{society.name}}</a>
              </li>
              <li>... And many more!!</li>
            </ul>
          </p>
        </li>
        <p ng-repeat="benefit in benefits">
          {{benefit}}
        </p>
      </ul>
    </div>
    <div class="col-lg-4 col-sm-4 col-md-4 section">
      <ul>
        <h2>The last one</h2>
        <li>
          <p>
            And a bullet point
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

